<!--
<h1>Cat Info Partial Page</h1>

<% if type == :new %>
    <%action_url = felines_url%>
    <% update = 'Create Cat'%>
<%else%>
    <%action_url = feline_url(@feline)%>
    <% update = 'Update Cat'%>
<%end%>
!-->

<% action = (feline.persisted? ? feline_url(@feline) : felines_url)%>
<% update = (feline.persisted? ? 'Update Cat' : 'Create Cat')%>
<% method = (feline.persisted? ? :patch : :post) %>

<form action = '<%= action_url %>' method = 'POST'>

   <!-- <% if type == :edit%> !-->
        <input type='hidden' name='_method' value= <%=method%>>
    <!-- <%end%> !-->

    <label> Name:
        <input type='text' name='feline[name]' value='<%= @feline.name %>'>
    </label>

    <br>

    <label> Sex:
        <label for='Male'>Male</label>
        <input <%= @feline.sex == 'M' ? 'checked' : ''%> type='radio' id ='Male' name='feline[sex]' value='<%= 'M' %>'>
        <label for='Female'>Female</label>
        <input <%= @feline.sex == 'F' ? 'checked' : ''%> type='radio' id ='Female' name='feline[sex]' value='<%= 'F' %>'>
    </label>

    <br>

    <label> Color:
        <select name='feline[color]'>
        <option disabled selected>--Select a Color--</option>
            <% Feline::CAT_COLORS.each do |color| %>
                <option name='feline[color]' value=<%= color %> <%= @feline.color == color ? 'selected' : '' %>> <%= color %></option>
            <% end %>
        </select>
    </label>

    <br>

    <label> Birth Date:
        <input type='date' name='feline[birth_date]' value='<%= @feline.birth_date %>'>
    </label>

    <br>

    <label> Description:
        <input type='textarea' name='feline[description]' value='<%= @feline.description %>'>
    </label>

    <br>

    <label> 
        <input type='submit' value="<%=update%>">
    </label>
</form>
