<h1>Cats Showroom</h1>

<table> 
    <thead>
        <tr>
            <th colspan='2'>Cat's Data</th>
        <tr>
    </thead>
    <tbody>
    <tr>
        <td>Birth Date</td>
        <td><%= @feline.birth_date  %></td>
    </tr>
    <tr>
        <td>Age</td>
        <td><%= @feline.age  %></td>
    </tr>
    <tr>
        <td>Color</td>
        <td><%= @feline.color  %></td>
    </tr>
    <tr>
        <td>Name</td>
        <td><%= @feline.name  %></td>
    </tr>
    <tr>
        <td>Sex</td>
        <td><%= @feline.sex  %></</td>
    </tr>
    </tr>
        <td>Description</td>
        <td><%= @feline.description  %></td>
    <tr>
    </tbody>
</table>